.btn {
    text-transform: uppercase;
}

.h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 77px;
}

.primery-color {
    background-color: bisque;
}

.secoendry-color {
    background-color: rgb(54, 37, 17);
}